{% extends 'base.html.twig' %}

{% block body %}
    <div class="callout large primary">
        <div class="text-center">
            <h1>TaskList</h1>
            <h2 class="subheader">Vytvořte si vlastní TaskList</h2>
        </div>
    </div>
{% endblock %}

