{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="subheader">Uprav profil</h2>
    <h3>{{ user.username }}</h3>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

